<div class="container">
    <div class="row" >
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand">Pop School</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  
                    <ul class="nav navbar-nav">                        
                    
                    <li ng-repeat="meni in nCtrl.authS.menu"><a href="{{meni.url}}">{{meni.descricao}}</a></li>
                  </ul>
            
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
    </nav>        
      
    </div>
    <div class="row text-center">
        <div class="col-xs-12"><h3>{{nCtrl.aluno.nome}}</h3><br>
        <div class="col-sm-8 col-sm-offset-2">
        <form class="form-horizontal" ng-submit="nCtrl.enviaAluno()">
            <div class="form-group">
              <label class="col-sm-2 control-label">Nome</label>
              <div class="col-sm-10">
                <input type="text" ng-model="nCtrl.aluno.nome" class="form-control" placeholder="Nome">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Login</label>
              <div class="col-sm-10">
                <input type="text" ng-model="nCtrl.aluno.login" class="form-control" placeholder="Login">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Senha</label>
              <div class="col-sm-10">
                <input type="password" ng-model="nCtrl.aluno.novaSenha" class="form-control" placeholder="Digite para alterar">
              </div>
            </div>         
            <div class="form-group">
              <label class="col-sm-2 control-label">Confirmar Senha</label>
              <div class="col-sm-10">
                <input type="password" ng-model="nCtrl.aluno.novaSenha2" class="form-control" placeholder="Confirmar senha">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">RG</label>
              <div class="col-sm-10">
                <input type="text" ng-model="nCtrl.aluno.rg" class="form-control" placeholder="RG">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">CPF</label>
              <div class="col-sm-10">
                <input type="text" ng-model="nCtrl.aluno.cpf" class="form-control" placeholder="CPF">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Logradouro</label>
              <div class="col-sm-10">
                <input type="text" ng-model="nCtrl.aluno.logradouro" class="form-control" placeholder="Logradouro">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Número</label>
              <div class="col-sm-10">
                <input type="text" ng-model="nCtrl.aluno.numero" class="form-control" placeholder="Número">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Bairro</label>
              <div class="col-sm-10">
                <input type="text" ng-model="nCtrl.aluno.bairro" class="form-control" placeholder="Bairro">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Cidade</label>
              <div class="col-sm-10">
                <input type="text" ng-model="nCtrl.aluno.cidade" class="form-control" placeholder="Cidade">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">CEP</label>
              <div class="col-sm-10">
                <input type="text" ng-model="nCtrl.aluno.cep" class="form-control" placeholder="CEP">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Turma</label>
              <div class="col-sm-10">
                  <select id="inputAccess" class="form-control" ng-model="nCtrl.aluno.turma_id">
                    <option value="">Selecione uma turma</option>
                    <option ng-repeat="turma in nCtrl.turmas" value="{{turma.id}}">{{turma.nome}}</option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Parcelas pagas</label>
              <div class="col-sm-10">
                  <select id="inputAccess" class="form-control" ng-model="nCtrl.aluno.parcelaspagas">
                      
                    <option ng-repeat="n in [nCtrl.aluno.parcelastotais] | makeRange" value="{{n}}">{{n}} ({{((nCtrl.aluno.valortotal/nCtrl.aluno.parcelastotais)*n | number: 2)*100 | realbrasileiro}})</option>
      
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Parcelas totais</label>
              <div class="col-sm-10">
                  <select id="inputAccess" class="form-control" ng-model="nCtrl.aluno.parcelastotais">
                    <option value="1">1 x {{(nCtrl.aluno.valortotal/1 | number: 2)*100 | realbrasileiro}}</option>
                    <option value="2">2 x {{(nCtrl.aluno.valortotal/2 | number: 2)*100 | realbrasileiro}}</option>
                    <option value="3">3 x {{(nCtrl.aluno.valortotal/3 | number: 2)*100 | realbrasileiro}}</option>
                    <option value="4">4 x {{(nCtrl.aluno.valortotal/4 | number: 2)*100 | realbrasileiro}}</option>
                    <option value="5">5 x {{(nCtrl.aluno.valortotal/5 | number: 2)*100 | realbrasileiro}}</option>
                    <option value="6">6 x {{(nCtrl.aluno.valortotal/6 | number: 2)*100 | realbrasileiro}}</option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Valor total</label>
              <div class="col-sm-10">
                  <select id="inputAccess" class="form-control" ng-model="nCtrl.aluno.valortotal">
                    <option value="600">Normal (R$ 600,00)</option>
                    <option value="550">Comercial (R$ 550,00)</option>
                    <option value="500">3a Idade (R$ 500,00)</option>
                  </select>
              </div>
            </div>
            <div class="form-group">
                <button type="submit" id="btEnviar" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"> Salvar</span></button>
            </div>
        </form>  </div>
    </div><br>
    <div class="row">
        <a href="#/aluno/{{nCtrl.aluno.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"> Voltar</span></a>
    </div><br>
    <div id="response" class="row"></div>
    <div class="row">
        <img src="img/logo.jpg" class="logo">
    </div>
</div> <!-- /container -->